.wp-block-bhe-static-block {
  border: 1px solid rgb(34, 168, 235);
  position: relative;
  padding: 25px 10px;
}

.wp-block-bhe-static-block::before {
  content: "BHE - Static (non-interactive) Block";
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid rgb(34, 168, 235);
  background-color: rgb(34, 168, 235);
  color: white;
  margin: -1px;
  padding: 0px 5px;
  font-size: 10px;
}

static-context {
  display: contents;
}
