.wp-block-bhe-interactive-child {
	padding: 15px 10px 15px 50px;
	border: 1px solid rgb(255, 162, 0);
	position: relative;
}

.wp-block-bhe-interactive-child::before {
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid rgb(255, 162, 0);
	background-color: rgb(255, 162, 0);
	color: white;
	margin: -1px;
	padding: 0px 5px;
	font-size: 9px;
	content: 'BHE - Interactive Child';
}

wp-block,
wp-inner-blocks {
	display: contents;
}
