.wp-block-bhe-non-interactive-parent {
	border: 1px solid rgb(34, 168, 235);
	position: relative;
	padding: 25px 10px;
}

.wp-block-bhe-non-interactive-parent::before {
	content: 'BHE - Non Interactive Parent';
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid rgb(34, 168, 235);
	background-color: rgb(34, 168, 235);
	color: white;
	margin: -1px;
	padding: 0px 5px;
	font-size: 10px;
}

wp-block,
wp-inner-blocks {
	display: contents;
}
